/* RESET */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* COMMONS */
body {
  font-size: 1.2rem;
}

header {
  background-color: antiquewhite;
  text-align: center;
  padding: 20px;
}
/* NAV */
nav ul {
  display: flex;
  list-style: none;
  justify-content: center;
}

nav ul li {
  margin: 10px;
}

nav ul li a {
  color: brown;
  text-decoration: none;
  font-weight: bold;
}

/* about us */

.about-us {
  text-align: center;
  padding: 0.625rem;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 20px;
  background-color: lightcyan;
  border-top: 3px solid black;
}
