/* RESET */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* COMMONS */
body {
  font-size: 1.2rem;
}

header {
  background-color: antiquewhite;
  text-align: center;
}
/* NAV */
nav ul {
  display: flex;
  list-style: none;
  justify-content: center;
}

nav ul li {
  margin: 10px;
}
